.black{
    background-color: rgb(82, 141, 85);
   }
   .darkG{
    background-color: rgb(20, 61, 23);
   }

   .vh-60 {
    height: 60vh;
   }

   .vh-80 {
    height: 80vh;
   }
   
   .custom-vw{
    width: 100vw;
   }
   .custom-heigh{
    height: 50%;
   }
   .btn{
    border-radius: none !important;
   }
   .errMsg{
    font-weight: bold;
    color: red;
   }
   .bottom-border{
    border-bottom: solid 1px blue;
   }
   .btnLogOut:hover{
    cursor: pointer;
   }
   .pc-100{
    height: 100%;
   }
   @media (min-width: 1200px) {
    .custom-vw{
    width: 30vw;
   
}
}